html {
	background-color: #BDDBC6;
}
body {
	margin: 0px;
}
#ka {
	background-color: #428547;
	width: 14vw;
	height: 6vw;  
	border-radius: 1px;
	margin: 1vw 0 0 3vw;
	float: left; 
	box-sizing: border-box;
	font-family: Georgia serif;
	font-size: 3vw;
	text-align: center;
	display:table-cell;
}
#te {
	margin: 1vw 1vw 1vw 1vw;
	color: #92B9B1;
}
#kb {
	background-color: #74B479;
	width: 75vw;
	height: 6vw;  
	border-radius: 1px;
	margin: 1vw 0 0 3vw;
	float: left;
	display:table-cell;
	text-align: center;
	font-family: Georgia serif;
	font-size: 3vw;
}
#te2 {
	margin: 1vw 0 1vw 0; 
	color: #AFCBC5;
}
#kas{
	background-color: #8AC792;
	width: 16vw;
	min-height: 16vw;  
	border-radius: 1px;;
	float: left;
	display:table-cell;
	text-align: center;
	font-family: Georgia serif;
	font-size: 3vw;
	margin: 2vw 0vw 0 2vw; 
}
#t2 {
	list-style-type: none;
	margin: 1vw 1vw 1vw 1vw;
	text-align: left; 
}
#kbs {
	background-color: #8AC792;
	width: 56vw;
	min-height: 16vw;  
	border-radius: 1px;
	float: left;
	margin: 2vw 0vw 1vw 20vw;
	display:table-cell;
	font-family: Georgia serif;
	font-size: 3vw;
	text-align: left;
}
#t3 {
	margin: 1vw 1vw 1vw 1vw;
}
#ft {
	background-color: #8AC792;
	width: 91vw;
	min-height: 5vw;  
	border-radius: 1px;
	float: left;
	margin: 1vw 1vw 1vw 3vw;
	display:table-cell;
	text-align: center;
	font-family: Georgia serif;
	font-size: 3vw;
}
#t4 {
	margin: 0.3vw 0 0 0;
}
