html {
	background-color: #6F9B79;
}
body {
	margin: 0px;
}
#ka {
	z-index: 1;
	background-color: #1D5329;
	position: absolute;
	width: 15%;
	height: 15%;
	margin: 1% 0 0 3%;
	border-radius: 10px;
}
#kb {
	z-index: 1;
	background-color: #2A793C;
	position: absolute;
	width: 75%;
	height: 15%;
	margin: 1% 0 0 21%;
	border-radius: 10px;
}
#kas {
	z-index: 1;
	background-color: #1C8D35;
	position: fixed;
	width: 20%;
	height: 72%;
	margin: 11% 0 0 76%;
	border-radius: 10px;
}
#kbs {
	z-index: 1;
	background-color: #497E55;
	position: absolute;
	width: 52%;
	min-height: 72%;
	margin: 11% 0 0 21%;
	border-radius: 10px;
	padding-left: 2%;
	padding-top: 0.5%;
	padding-right: 2%;
	padding-bottom: 0.5%;
	box-sizing: border-box;
	font-size: 1.6em; 
}
#ft {
	z-index: 3;
	background-color: #2A793C;
	width: 93%;
	height: 3%;
	border-radius: 10px;
	float: bottom;
}
